@charset "UTF-8";

.base {
	position: relative;
	width: 100%;
	height: 100%;
}

.base > h2 {
	margin: 0 10%;
	width: 80%;
	color: #f0f0f0;
	/*text-shadow: 0 3px 5px rgba(0, 0, 0, .7);*/
	/*box-shadow: 0 2px 0 rgba(0, 0, 0, .5);*/
	font-size: 3rem;
	position: absolute;
	border-bottom: solid 2px #f0f0f0;
	text-align: center;
}

.base .main {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	/*height: 72%;*/
	height: 100%;
	position: absolute;
	/*top: 80px;*/
	left: 0;
	right: 0;
}

.base .main .square {
	width: 80%;
	padding-top: 80%;
	border: solid 2px #ff0;
	position: absolute;
	top: 15%;
	left: 10%;
}


.base .exp {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, .7);
	display: none; /**/
}

.base .exp p {
	margin: 32px 16px;
}

.base .exp .text_button {
	margin-bottom: 32px;
	background: #848;
	color: #f8f8f8;
}


.base .launcher {
	width: 100%;
	height: 128px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.base .launcher .scrollbox::-webkit-scrollbar {
	display: none;
}


.base .showhide {
	width: 96px;
	height: 48px;
	position: absolute;
	right: 0;
	bottom: 100%;
	background-color: rgba(0, 0, 0, .7);
}

.base .showhide:after {
	content: '';
	margin: 5px auto;
	width: 24px;
	height: 24px;
	border-left: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
	transform: rotate(-45deg);
	display: block;
	transition: transform 0.256s, margin 0.256s;
}

.base .showhide.reverse:after {
	margin-top: 20px;
	transform: rotate(135deg);
}

.base .launcher button.text_button {
	margin: 8px;
	/*background: #848;*/
	color: #f8f8f8;
	position: absolute;
	bottom: 100%;
	left: 0;
}

.base .launcher .balloon {
	margin: 8px 1%;
	/*height: 80px;*/
	width: 50%;
	position: absolute;
	bottom: 100%;
	right: 0;
	background: #d4d4dd;
	border-radius: 16px;
	overflow: auto;
}

.base .launcher .balloon::-webkit-scrollbar {
	display: none;
}

.base .launcher .balloon > * {
	margin: 16px;
}

.base .launcher .balloon h3 {
	font-size: 1.2rem;
	text-align: center;
	border-bottom: solid 1px #333;
}

.base .launcher .balloon h4 {
	font-size: 0.8rem;
}

.base .launcher .balloon p {
	font-size: 1rem;
	line-height: 1.5;
}

.base .launcher .balloon li {
	margin: 8px 0;
}

.base .launcher .scrollbox {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.base .launcher .scrollbox ul {
	width: 1064px;
	min-height: 100%;
}

.base .launcher .scrollbox li {
	height: 120px;
	width: 120px;
	margin: 4px 16px;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


/*** iPhone 6 たて 以上 [Nexus 7 たて 未満] ***/
@media screen and (max-width: 599px) {
.base h2 {
	font-size: 2rem;
}

.base .launcher {
	height: 88px;
}

.base .showhide {
	width: 80px;
	height: 40px;
}

.base .showhide:after {
	margin: 8px auto;
	width: 16px;
	height: 16px;
}

.base .launcher button.text_button {
	margin: 4px;
}

.base .launcher .balloon {
	width: 70%;
}

.base .launcher .scrollbox ul {
	width: 672px;
}

.base .launcher .scrollbox li {
	height: 80px;
	width: 80px;
	margin: 4px 8px;
}
} /* (max-width: 599px) */


/*** iPhone 5 たて [Nexus 6 たて 未満] ***/
@media screen and (max-width: 374px) {	
.base .exp p {
	margin: 16px;
}
}


/*** Nexus7 たて ***/

/*** Nexus 10　たて ***/
@media screen and (min-width: 800px) and (max-width: 959px) {
}


/*** Nexus7 横 以上 ***/
@media screen and (min-width: 960px) {
.base .exp {
/*	width: 288px;
	height: 100%;
	right: 0;*/
	/*display: none; */
}

.base .exp p {
	margin: 24px 16px;
	float: left;
/*	margin: 96px 16px 32px;*/
}

.base .exp .text_button {
	float: right;
	margin: 24px 32px;
}


.base .launcher {
	width: 128px;
	height: 100%;
	right: 0;
	bottom: auto;
}

.base .showhide {
	width: 48px;
	height: 96px;
	right: 100%;
	bottom: 0%;
}

.base .showhide:after {
	content: '';
	margin: 36px 6px;
	width: 24px;
	height: 24px;
	transform: rotate(-135deg);
	display: block;
}

.base .showhide.reverse:after {
	margin: 38px 20px;
	transform: rotate(45deg);
}

.base .launcher button.text_button {
	position: fixed;
	bottom: 0;
	left: 0;
}

.base .launcher .balloon {
	margin: 8px;
	width: 500px;
	/*position: absolute;*/
	bottom: auto;
	right: 100%;/*
	background: #d4d4dd;
	border-radius: 16px;*/
}

.base .launcher .balloon li {
	margin: 8px 0;
}

.base .launcher .scrollbox {/*
	width: 100%;
	height: 100%;
	overflow: auto;*/
}
.base .launcher .scrollbox ul {
	width: auto;
	min-height: 0;
	min-width: 100%;
	height: 728px;
}

.base .launcher .scrollbox li {
	height: 96px;
	width: 96px;
	margin: 8px 16px;
	float: none;
}

}


/*** iPad 横 以上 ***/
@media screen and (min-width: 1024px) {

}


/*** フル HD ***/
@media screen and (min-width: 1900px) {

}




  /* デバッグ用 */
/*#base_header {
	display: none;
}

.base .launcher .balloon {
	display: none;
}

.base {
	background-image: url('../img/nakura.jpg');
	background-size: cover;
	background-position: center;
}*/