@charset "UTF-8";

/*
	left: 100%; など。
*/

.setting, .detail, .settings {
	left: 100%;
}

.base {
	overflow: hidden;
}

.base .exp {
	display: block; /**/
}

.black_screen {
	z-index: 100;
	display: none;
}

.black_screen div {
	bottom: 100%;
}

.balloon {
	display: none;
}

.base .launcher {
	bottom: -128px;
	display: none;
}

#message {
	top: -50%;
}