@charset "UTF-8";

/*
	left: 100%; など。
*/

.setting, .detail, .settings {
	left: 100%;
}

.base {
	overflow: hidden;
}

.base .exp {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, .7);
	display: block; /**/
}

.base .bottom {
	height: 0;
	width: 100%;
	position: absolute;
	bottom: -50%;
}

.black_screen {
	z-index: 100;
	display: none;
}

.black_screen div {
	bottom: 100%;
}