@charset "UTF-8";

.page_header {
	position: absolute;
	top: 0;
	width: 100%;
	/*height: 8%;*/
	height: 80px;
	background-image: url('../img/header_bg.png');
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.siteheader {
	z-index: 1;
}

.page_header h1 {
	margin-top: -16px;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	color: #f9f9f9;
	font-weight: normal;
	line-height: 1;
	font-size: 2rem;
}

.page_header .back,
.detail .siteheader .operate .back,
.detail .siteheader .operate .gear {
	padding: 0 16px;
	height: 48px;
	background: none;
	background-image: url('../img/back_button.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 10;
}

.siteheader, .page_header {
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}


.top .siteheader {
	position: absolute;
	top: 0;
	width: 100%;
	/*height: 12%;*/
	height: 120px;
	background-image: url('../img/header.png');
	background-size: cover;
	background-position: center;
}


/**********************
 * ヘッダによるズレの修正
 **********************/
.setting .main ul,
.settings .main > :first-child {
	margin-top: 80px;
}

.setting_profile .delete_button {
	margin-bottom: 112px; /* 80+32*/
}

.detail .main ul {
	margin-top: 320px;
}



/**********************
 * base
 **********************/
 .base .page_header h1 {
	margin: 0;
	height: 50%;
	top: 25%;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -10;
}

.base .page_header button {
	margin: 16px 8px;
	height: 48px;
	width: 48px;
	background: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.base .page_header .gear {
	background-image: url('../img/setting_icon.png');
	float: right;
}
.base .page_header .info {
	background-image: url('../img/info_icon.png');
	float: right;
}
.base .page_header .fullscreen {
	background-image: url('../img/fullscreen_icon.png');
	float: left;
}


/**********************
 * detail
 **********************/

.detail .siteheader {
	height: 320px;
	width: 100%;
	/*background-image: url('../img/colors/pink/header.png');*/  /* detail.cssへ*/
	background-size: cover;
	background-position: center;
	position: fixed;
}
.detail .siteheader .operate {
	width: 100%;
	position: absolute;
}
/* .detail .siteheader .operate .back {} */ /* 上部へ */
.detail .siteheader .operate .gear {
	background-image: url('../img/setting_icon.png');
	right: 16px;
	left: auto;
}
.detail .siteheader .icon {
	margin: 0 auto;
	padding: 32px 0;
	width: 160px;
}
.detail .siteheader .icon div { /* アイコン */
	padding-top: 100%;
	width: 100%;
	border-radius: 50%;
	background: #ccc;
	background-size: cover;
	background-position: center center;
}
.detail .siteheader h1 {
	font-size: 2rem;
	text-align: center;
	color: #f0f0f0;
}



/*** iPhone 6 たて 以上 [Nexus 7 たて 未満] ***/
@media screen and (max-width: 599px) {
.page_header {
	height: 64px
}

.page_header h1 {
	margin-top: -12px;
	line-height: 1;
	font-size: 1.5rem;
}

.page_header .back,
.detail .siteheader .operate .back {
	padding: 0 12px;
	height: 36px;
	top: 14px;
	left: 16px;
}

.top .siteheader {
	height: 80px;
}

.base .page_header h1 {
	margin: 0;
	height: 24px;
	top: 20px;
}
.base .page_header button {
	margin: 20px 8px;
	height: 24px;
	width: 24px;
}

.detail .siteheader {
	height: 200px;
}
.detail .siteheader .icon {
	padding: 16px 0;
	width: 120px;
}
.detail .siteheader h1 {
	font-size: 1.5rem;
}

/*
 * ヘッダによるズレの修正
 */
.detail .main ul {
	margin-top: 200px;
}

}


/*** iPhone 5 たて [Nexus 6 たて 未満] ***/
@media screen and (max-width: 374px) {
.top .siteheader {
	height: 64px;
}

.base .page_header h1 {
	margin: 0;
	height: 20px;
	top: 22px;
}
.base .page_header button {
	margin: 20px 4px;
	height: 24px;
	width: 	24px;
}
} /* (max-width: 374px) */



/*** Nexus7 たて ***/

/*** Nexus 10　たて ***/
@media screen and (min-width: 800px) and (max-width: 959px) {
}


/*** Nexus7 横 以上 ***/
@media screen and (min-width: 960px) {
}

/*** Nexus7 横 ***/
@media screen and (min-width: 960px) and (max-width: 1023px) {
.detail .siteheader {
	height: 200px;
}
.detail .siteheader .icon {
	padding: 16px 0;
	width: 120px;
}
.detail .siteheader h1 {
	font-size: 1.5rem;
}
/* ヘッダによるズレの修正 */
.detail .main ul {
	margin-top: 200px;
}
}



/*** iPad 横 以上 ***/
@media screen and (min-width: 1024px) {
}


/*** フル HD ***/
@media screen and (min-width: 1900px) {
}

