@charset "UTF-8";

.black_screen {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	/*display: none;*/
	z-index: 1;
}

.black_screen .get_name_popup,
.black_screen .OK_popup,
.black_screen .OK_Cancel_popup {
	margin: auto;
	padding: 16px;
	width: 80%;
	max-width: 600px;
	background: #e6e6e6;
	position: absolute;
	bottom: 400%;
	/*top: 20%;*/
	left: 0;
	right: 0;
	z-index: 2;
}

.black_screen .get_name_popup h2,
.black_screen .OK_popup h2,
.black_screen .OK_Cancel_popup h2 {
	text-align: center;
	margin-bottom: 16px;
	font-size: 1.5rem;
}

.black_screen .get_name_popup input {
	padding: 1%;
	width: 98%;
	display: block;
	margin-bottom: 16px;
}

.black_screen .get_name_popup button,
.black_screen .OK_popup button,
.black_screen .OK_Cancel_popup button {
	margin: 96px auto 0;
	width: 128px;
	padding: 4px 16px;
	border-radius: 4px;
	background: #205ec5;
	color: #f8f8f8;
	display: block;
}

.black_screen .OK_Cancel_popup div {
	float: left;
	width: 50%;
}

.black_screen .OK_Cancel_popup button,
.black_screen .OK_popup button {
	margin-top: 24px;
}

.black_screen .OK_popup p,
.black_screen .OK_Cancel_popup p {
	text-align: center;
	padding-right: 1%;
	padding-left: 1%;
}



/*** iPhone 6 たて 以上 [Nexus 7 たて 未満] ***/
@media screen and (max-width: 599px) {
} /* (max-width: 599px) */


/*** iPhone 5 たて [Nexus 6 たて 未満] ***/
@media screen and (max-width: 374px) {
.black_screen .get_name_popup button,
.black_screen .OK_popup button,
.black_screen .OK_Cancel_popup button {
	width: 96px;
}
}


/*** Nexus7 たて ***/

/*** Nexus 10　たて ***/
@media screen and (min-width: 800px) and (max-width: 959px) {
}


/*** Nexus7 横 以上 ***/
@media screen and (min-width: 960px) {
}


/*** iPad 横 以上 ***/
@media screen and (min-width: 1024px) {
}


/*** フル HD ***/
@media screen and (min-width: 1900px) {
}

