@charset "UTF-8";

.setting {
	position: fixed;
	width: 100%;
	height: 100%;
	/*left: 100%;*/
}

.setting .main {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #f0f0f0;
	background-image: url('../img/back_image.png');
	background-size: cover;
	overflow: auto;
}

.setting .main::-webkit-scrollbar {
	display: none;
}

.setting .main ul {
	/*overflow: auto;*/
}

.setting .main li {
	height: 160px;
	line-height: 160px;
	font-size: 2rem;
	border-bottom: solid 1px #aaa;
}

.setting .main li div {  /* アイコン */
	margin: 30px;
	width: 100px;
	height: 100px;
	float: left;
	background: #888;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

.setting .main li:after {
	content: '';
	margin: 12px 0;
	width: 40px;
	height: 136px;
	display: block;
	float: right;
	background-color: #fff;
}

.setting .main li:nth-child(5n+1):after { background-color: #bb5d7f; } /* ピンク */
.setting .main li:nth-child(5n+2):after { background-color: #2980b9; } /* 青 */
.setting .main li:nth-child(5n+3):after { background-color: #259956; } /* 緑 */
.setting .main li:nth-child(5n+4):after { background-color: #c0392b; } /* 赤 */
.setting .main li:nth-child(5n):after   { background-color: #16a085; } /* 青緑 */


.setting .add {
	margin: 16px;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: none;
	background-image: url('../img/plus_button.png');
	background-size: cover;
}




/*** iPhone 6 たて 以上 [Nexus 7 たて 未満] ***/
@media screen and (max-width: 599px) {
} /* (max-width: 599px) */


/*** iPhone 5 たて [Nexus 6 たて 未満] ***/
@media screen and (max-width: 374px) {
}


/*** Nexus7 たて ***/

/*** Nexus 10　たて ***/
@media screen and (min-width: 800px) and (max-width: 959px) {
}


/*** Nexus7 横 以上 ***/
@media screen and (min-width: 960px) {
}


/*** iPad 横 以上 ***/
@media screen and (min-width: 1024px) {
}


/*** フル HD ***/
@media screen and (min-width: 1900px) {
}

