@charset "UTF-8";

/* *******************
 *   settings
 *   -> setting_*.html
 * *******************/

.settings {
	position: fixed;
	width: 100%;
	height: 100%;
	/*left: 100%;*/
}

/*.settings .page_header {
	background-image: url('../img/detail_header.png');
}*/

.settings .main {
	width: 80%;
	height: 100%;
	padding: 0 10% 0;
	position: absolute;
	/*top: 80px;*/
	background: #e6e6e6;
	/*background-image: url('../img/back_image.png');*/
	background-size: cover;
	overflow: auto;
}

.settings .main::-webkit-scrollbar {
	display: none;
}
/*
.settings .main:before {
	content: '';
	display: block;
	height: 80px;
	width: 100%;
}*/

.settings .main h2 {
	margin: 16px 0 8px;
	font-size: 1.5rem;
}

.settings .main > h2 {
	/*margin-top: 80px;*/ /* header.css */
	margin-right: 16px;
	display: inline-block;
	font-size: 2rem;
}

.settings .main > :first-child {
	padding-top: 32px;

}

.settings .main .area {
	margin-bottom: 48px;
	width: 100%;
}

.settings .main select,
.settings .main input[type="text"],
.settings .main input[type="date"] {
	margin: 4px 0 16px;
	padding: 8px;
	width: 100%;
	display: block;
	font-size: 1.2rem;
}

.settings .main img {
	margin: 8px 0;
	width: 128px;
	height: 128px;
	display: block;
}

.settings .main .notification {
	margin-bottom: 48px;
}

.settings .main .notification li {
	margin: 8px 0;
	width: 100%;
}

.settings .main .notification label {
	padding-left: 48px;
	font-size: 1.25rem;
	position: relative;
	display: inline-block;
}

.settings .main .notification input[type="checkbox"] {
	margin-top: -16px;
	width: 32px;
	height: 32px;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border-radius: 50px;
	background: #ccc;
	border: none;
	position: absolute;
	top: 50%;
	left: 0;
}

.settings .main .notification input[type="checkbox"]:after,
.settings .main .notification input[type="checkbox"]:checked:after {
	content: '';
	width: 50%;
	height: 20%;
	border-bottom: solid 4px #f0f0f0;
	border-left: solid 4px #f0f0f0;
	transform: rotate(-45deg);
	position: absolute;
	top: 30%;
	left: 15%;
}

.settings .main .notification p {
	line-height: 1.2;
}


.settings .main .sample {
	margin-bottom: 48px;
}

.settings .main .sample button {
	margin-left: 4px;
	height: 32px;
	line-height: 32px;
	padding: 0 16px 0 32px;
	border: solid 1px #333;
	border-radius: 4px;
	background: none;
	position: relative;
}

.settings .main .play button:after {
	content: '再生';
}

.settings .main .stop button:after {
	content: '停止';
}

.settings .main .sample button:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
}

.settings .main .play button:before {
	border-top: solid 10px rgba(0,0,0,0);
	border-left: solid 20px #333;
	border-bottom: solid 10px rgba(0,0,0,0);
}

.settings .main .stop button:before {
	width: 20px;
	height: 20px;
	background: #333;
}


.setting_profile .profile_icon {
	border-radius: 50%;
}

.setting_profile .delete_button {
	width: 80%;
	position: absolute;
	/*bottom: 64px;*/
	bottom: 0;
}

.setting_profile .delete_button .text_button {
	color: #f0f0f0;
}

.setting_alarm label {
	display: block;
}
.setting_alarm .main input[type="text"],
.setting_alarm .main input[type="time"] {
	margin: 4px 0 16px;
	padding: 8px;
	height: 20px;
	display: inline-block;
	font-size: 1.2rem;
}
.setting_alarm .main input[type="time"] {
	/*margin-right: 4px;*/
	width: 96px;
}
.setting_alarm .main input[type="text"] {
	width: 70%;
}

.setting_alarm .main input[type="time"]:disabled,
.setting_alarm .main input[type="text"]:disabled {
	color: #888;
}



/*
	色の変更設定
*/
/*
.pink   .page_header { background-image: url('../img/colors/pink/header.png'); }
.blue   .page_header { background-image: url('../img/colors/blue/header.png'); }
.green  .page_header { background-image: url('../img/colors/green/header.png'); }
.red    .page_header { background-image: url('../img/colors/red/header.png'); }
.bgreen .page_header { background-image: url('../img/colors/bluegreen/header.png'); }

.pink   .onoff:after,
.pink   .notification input[type="checkbox"]:checked,
.pink   .delete_button .text_button { background-color: #bb5d7f; }

.blue   .onoff:after,
.blue   .notification input[type="checkbox"]:checked,
.blue   .delete_button .text_button { background-color: #2980b9; }

.green  .onoff:after,
.green  .notification input[type="checkbox"]:checked,
.green  .delete_button .text_button { background-color: #259956; }

.red    .onoff:after,
.red    .notification input[type="checkbox"]:checked,
.red    .delete_button .text_button { background-color: #c0392b; }

.bgreen .onoff:after,
.bgreen .notification input[type="checkbox"]:checked,
.bgreen .delete_button .text_button { background-color: #16a085; }
*/

.disabled .notification,
.disabled .area {
	color: #999;
}

.disabled .notification input[type="checkbox"]:checked {
	background-color: #888;
}


/*** iPhone 6 たて 以上 [Nexus 7 たて 未満] ***/
@media screen and (max-width: 599px) {
.setting_profile .delete_button {
	margin: 32px auto;
	position: static;
}
} /* (max-width: 599px) */


/*** iPhone 5 たて [Nexus 6 たて 未満] ***/
@media screen and (max-width: 374px) {
}


/*** Nexus7 たて ***/

/*** Nexus 10　たて ***/
@media screen and (min-width: 800px) and (max-width: 959px) {
}


/*** Nexus7 横 以上 ***/
@media screen and (min-width: 960px) {
}


/*** iPad 横 以上 ***/
@media screen and (min-width: 1024px) {
}


/*** フル HD ***/
@media screen and (min-width: 1900px) {
}

