@charset "UTF-8";

.sign_up p, .base p { font-size: 1.2rem; }

.sign_up .main {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	height: 72%;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
}

.sign_up .main .square {
	width: 80%;
	padding-top: 80%;
	border: solid 2px #ff0;
	position: absolute;
	top: 15%;
	left: 10%;
}

.sign_up .exp {
	width: 100%;
	/*height: 20%;*/
	position: absolute;
	bottom: 0;
	background: #d4d4dd;
}

.sign_up .exp p {
	margin: 64px 16px 16px;
}

.sign_up .exp .status {
	margin: 0 16px 32px;
	padding-right: 8px;
	height: 24px;
	border: solid 1px #333;
	font-size: 1rem;
	line-height: 1.5;
	text-align: right;
	position: relative;
}

.sign_up .exp .status .gage {
	width: 0%;                /* ゲージ横幅 */
	height: 100%;
	display: block;
	background: #333;
	position: absolute;
	top: 0;
	left: 0;
}

.sign_up .exp .shot {
	margin-top: -60px;
	margin-left: -60px;
	padding-top: 120px;
	width: 120px;
	background-color: #333;
	background-image: url('../img/camera_icon.png');
	background-size: 100%;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 0;
}


/*** iPhone 6 たて 以上 [Nexus 7 たて 未満] ***/
@media screen and (max-width: 599px) {
.sign_up .exp .shot {
	margin-top: -45px;
	margin-left: -45px;
	padding-top: 90px;
	width: 90px;
}
} /* (max-width: 599px) */


/*** iPhone 5 たて [Nexus 6 たて 未満] ***/
@media screen and (max-width: 374px) {
}


/*** Nexus7 たて ***/

/*** Nexus 10　たて ***/
@media screen and (min-width: 800px) and (max-width: 959px) {
html, body, header, div, h1, h2, h3, h4, h5, h6, p, small, footer, button, a, ul, li {
	font-size: 20px;
}
}


/*** Nexus7 横 以上 ***/
@media screen and (min-width: 960px) {

}


/*** iPad 横 以上 ***/
@media screen and (min-width: 1024px) {

}


/*** フル HD ***/
@media screen and (min-width: 1900px) {

}

