@charset "UTF-8";

* {
	margin: 0												;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

.mirror {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
	transform: scaleX(-1);
	z-index: -99;
}

.screen {
	position: fixed;
	top:0;
}

canvas.screen  {
	z-index: -2;

}

img.screen  {
	z-index: -1;
	display: none;
}