@charset "UTF-8";

/* *******************
 *   top
 * *******************/

.top {
	width: 100%;
	height: 100%;
	position: relative;
	background: #f4f4f5;
	background-image: url('../img/back.jpg');
	background-position: center;
	background-size: cover;
}

/* 中央のフレーズ部分 */
.top h2 { font-size: 2rem; }
@media screen and (max-width: 480px) {
.top h2 { font-size: 1.5rem; }
}

.top .main {
	position: absolute;
	width: 100%;
	bottom: 45%;   /* 縦位置。下端から画面下端までの距離 */
}

.top .main h2 {
	width: 100%;
	text-align: center; /* 文字のセンタリング */
	color: #f0f0f0;     /* 文字色 */
	line-height: 2;     /* 行間。フォントサイズに対する倍率 */
}

.top .sitefooter {
	height: 200px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);  /* 黒い色。RGBA */
}

.top .sitefooter button {
	margin-top: -36px;  /* センタリングのために、padding-top の -1/2 倍にする */
	padding-top: 72px;  /* ボタンの縦幅。横幅は自動。 */
	margin-left: -145px;
	width: 290px;
	background: none;
	background-image: url('../img/google.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}


@media screen and (max-width: 599px) {
.top .sitefooter {
	height: 160px;
}

} /* (max-width: 599px) */


@media screen and (max-width: 374px) {
.top .main {
	bottom: 35%;
}
.top .sitefooter {
	height: 96px;
}
.top .sitefooter button {
	margin-top: -24px;
	padding-top: 48px;
	margin-left: -96.5px;
	width: 193px;
}

} /* (max-width: 374px) */