@charset "UTF-8";

html, body, header, div, h1, h2, h3, h4, h5, h6, p, small,
footer, button, a {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	z-index: 0;
	outline: none;
	border: none;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}

p, li, dd {
	line-height: 1.8;
}

span {
	margin: 0;
	padding: 0;
	z-index: 0;
}

table, th, td {
	border-collapse: collapse;
	border-spacing: 0;
	border: solid 1px #333;
}
a { text-decoration: none; }
ul { list-style: none; }
img { border: none; }


html {
	-webkit-text-size-adjust: 100%;
	color: #111;
	background: #f4f4f5;
	background-image: url('img/back.jpg');
	background-size: cover; 
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
}

/* 中央のフレーズ部分 */
h2 { font-size: 1.5rem; }  /* フォントサイズ。1rem=16px にしてる */
@media screen and (min-width: 480px) {
h2 { font-size: 2rem; }  /* フォントサイズ。1rem=16px にしてる */
}

.shadow1 {
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);  /* 影 */
}

.siteheader {
	position: absolute;
	top: 0;
	width: 100%;
	height: 12%;    /* FaMirror ロゴの高さ */
	background-image: url('img/header.png');
	background-size: cover;
	background-position: center;
}

.main {
	position: absolute;
	width: 100%;
	bottom: 45%;   /* 縦位置。下端から画面下端までの距離 */
}

.main h2 {
	width: 100%;
	text-align: center; /* 文字のセンタリング */
	color: #f0f0f0;     /* 文字色 */
	line-height: 2;     /* 行間。フォントサイズに対する倍率 */
}

.sitefooter {
	height: 20%;  /* 黒い部分の高さ。画面の縦幅が100% */
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);  /* 黒い色。RGBA */
}

.sitefooter button {
	margin-top: -36px;  /* センタリングのために、padding-top の -1/2 倍にする */
	padding-top: 72px;  /* ボタンの縦幅。横幅は自動。 */
	margin-left: -24%;
	width: 48%;
	background: none;
	background-image: url('img/google.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}


/* Clearfix */
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}
